#title{
    background-color: gray;
    color: blue;
    text-align: center;
}
.card-title{
    background-color: grey;
    text-align: center;
}


img{
    width: 25%;
    height: 25%;
    align-items: center;
}

a{
    color: white;
}